* { 
  box-sizing: border-box;
}

.app{ 

  display: grid;
  grid-template-columns: 1fr 1fr;

}

.pictures{ 

  
  padding: 20px;
  border: 2px solid black; 
  column-gap: 5px;

  display: flex;
}


.board{ 
  

  background-color: lightcoral;
  padding: 20px;
  display: flex;
  column-gap: 5px;
    
}


